@model Core.Info.General.tb_GrupoEtnico_Info
@{
    ViewBag.Title = "Consultar grupo étnico";

    if (string.IsNullOrEmpty(Core.Web.Helps.SessionFixed.IdUsuario) || string.IsNullOrEmpty(Core.Web.Helps.SessionFixed.IdEmpresa))
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>
@using (Html.BeginForm("Consultar", "GrupoEtnico", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    @Html.HiddenFor(q => q.IdGrupoEtnico)
    if (ViewBag.mensaje != null)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-warning alert-dismissible">
                    <h4>
                        <i class="icon fa fa-warning"></i> @ViewBag.mensaje
                    </h4>
                </div>
            </div>
        </div>
    }
    if (ViewBag.MensajeSuccess != null)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success alert-dismissible">
                    <h4>
                        <i class="icon fa fa-check"></i> @ViewBag.MensajeSuccess
                    </h4>
                </div>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-offset-9 col-md-1">
                @if (@ViewBag.Nuevo == true)
                {
                    <div class="form-group">
                        <a type="button" class="btn btn-primary form-control" title="Nuevo" href="@Url.Action("Nuevo","GrupoEtnico",new { Area = "General"},null)">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                }
            </div>
            <div class="col-md-1">
                @if (@ViewBag.Modificar == true)
                {
                    <div class="form-group">
                        <a type="button" class="btn btn-primary form-control" title="Modificar" href="@Url.Action("Modificar", "GrupoEtnico", new { Area = "General", IdGrupoEtnico=Model.IdGrupoEtnico }, null)">
                            <i class="fa fa-edit"></i>
                        </a>
                    </div>
                }
            </div>
            <div class="col-md-1">
                @if (@ViewBag.Anular == true)
                {
                    <div class="form-group">
                        <a type="button" class="btn btn-primary form-control" title="Anular" href="@Url.Action("Anular", "GrupoEtnico", new { Area = "General", IdGrupoEtnico=Model.IdGrupoEtnico }, null)">
                            <i class="fa fa-remove"></i>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="IdSucursal">Grupo Etnico*</label>
                    @Html.TextBoxFor(q => q.NomGrupoEtnico, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.NomGrupoEtnico, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <a class="btn btn-default" href="@Url.Action("Index","GrupoEtnico",new { Area = "General" },null)">Cancelar</a>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}

