@model Core.Info.Academico.aca_MatriculaCalificacionCualitativa_Info
@{
    ViewBag.Title = "Importación de calificaciones parciales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/ValidacionBotonSubmit.js"></script>
<script type="text/javascript">
    $(function () {
        CargarParciales();

        $("#IdCatalogoTipo").change(function () {
            CargarParciales();
        });
    });

    function buscar() {
        var datos = {
            IdEmpresa: $("#IdEmpresa").val(),
            IdSede: IdSede.GetValue(),
            IdAnio: IdAnio.GetValue(),
            IdNivel: IdNivel.GetValue(),
            IdJornada: IdJornada.GetValue(),
            IdCurso: IdCurso.GetValue(),
            IdParalelo: IdParalelo.GetValue(),
            IdMateria: IdMateria.GetValue(),
            IdCatalogoParcial: $("#IdCatalogoParcial").val()
        }
        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("cargar_calificaciones", "MatriculaCalificacionParcialCualitativa", new { Area = "Academico" })',
            async: false,
            bDeferRender: true,
            bProcessing: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                GridViewPartial_MatriculaCalificacionParcialCualitativaImportacion.PerformCallback();
            },
            error: function (error) {
            }
        });
    }

    function OnFileUploadStart(s, e) {
        var datos = {
            IdEmpresa: $("#IdEmpresa").val(),
            IdTransaccionSession: $("#IdTransaccionSession").val()
        }
        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("ActualizarVariablesSession", "MatriculaCalificacionParcialCualitativa", new { Area = "Academico"})',
            async: false,
            bDeferRender: true,
            bProcessing: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
            },
            error: function (error) {
            }
        });
    }

    function OnFileUploadComplete(s, e)
    {
        GridViewPartial_MatriculaCalificacionParcialCualitativaImportacion.PerformCallback();
    }

    function CargarParciales() {
        $("#IdCatalogoParcial").empty();
        var datos = {
            IdEmpresa: $("#IdEmpresa").val(),
            IdSede: IdSede.GetValue(),
            IdAnio: IdAnio.GetValue(),
            IdCatalogoTipo: $("#IdCatalogoTipo").val()
        }
        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("CargarParciales_X_Quimestre", "MatriculaCalificacionParcialCualitativa", new { Area = "Academico"})',
            async: false,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $.each(data, function (i, row) {
                    $("#IdCatalogoParcial").append("<option value=" + row.IdCatalogoParcial + ">" + row.NomCatalogo + "</option>");
                    $("#IdCatalogoParcial").val($("#IdCatalogoParcial option:first").val());
                });
            },
            error: function (error) {
            }
        });
    }

</script>

@using (Html.BeginForm("Importar", "MatriculaCalificacionParcialCualitativa", FormMethod.Post, new { @role = "form", @id = "form" }))
{
    if (ViewBag.MensajeSuccess != null)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success alert-dismissible">
                    <h4>
                        <i class="icon fa fa-check"></i> @ViewBag.MensajeSuccess
                    </h4>
                </div>
            </div>
        </div>
    }
    if (ViewBag.mensaje != null)
    {
        <div class="alert alert-warning alert-dismissible">
            <h4>
                <i class="icon fa fa-warning"></i> @ViewBag.mensaje
            </h4>
        </div>
    }
    if (ViewBag.error != null)
    {
        <div class="alert alert-warning alert-dismissible">
            <h4>
                <i class="icon fa fa-warning"></i> @ViewBag.error
                <a href="@Url.Action("Index","LogError",new  {Area="General"}, null )" class="small-box-footer" target="_blank">Ver detalle error<i class="fa fa-arrow-circle-right"></i></a>
            </h4>
        </div>

    }
    @Html.HiddenFor(q => q.IdEmpresa, new { @id = "IdEmpresa" })
    @Html.HiddenFor(q => q.IdTransaccionSession, new { @id = "IdTransaccionSession" })
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="IdEmpresa">Año Lectivo</label>
                    @Html.Partial("_ComboBoxPartial_Anio", Model)
                    @Html.ValidationMessageFor(q => q.IdAnio, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="IdEmpresa">Sede</label>
                    @Html.Partial("_ComboBoxPartial_Sede", Model)
                    @Html.ValidationMessageFor(q => q.IdSede, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="IdEmpresa">Jornada</label>
                    @Html.Partial("_ComboBoxPartial_Jornada", Model)
                    @Html.ValidationMessageFor(q => q.IdJornada, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label for="IdEmpresa">Nivel Académico</label>
                    @Html.Partial("_ComboBoxPartial_Nivel", Model)
                    @Html.ValidationMessageFor(q => q.IdNivel, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="IdEmpresa">Curso</label>
                    @Html.Partial("_ComboBoxPartial_Curso", Model)
                    @Html.ValidationMessageFor(q => q.IdCurso, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="IdEmpresa">Paralelo</label>
                    @Html.Partial("_ComboBoxPartial_Paralelo", Model)
                    @Html.ValidationMessageFor(q => q.IdParalelo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="IdEmpresa">Materia</label>
                    @Html.Partial("_ComboBoxPartial_Materia", Model)
                    @Html.ValidationMessageFor(q => q.IdMateria, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="IdEmpresa">Quimestre</label>
                    @Html.DropDownListFor(q => q.IdCatalogoTipo, new SelectList(ViewBag.lst_quimestres, "Key", "Value"), new { @class = "form-control", @id = "IdCatalogoTipo" })
                    @Html.ValidationMessageFor(q => q.IdCatalogoTipo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="IdEmpresa">Parcial</label>
                    @Html.DropDownListFor(q => q.IdCatalogoParcial, new SelectList(ViewBag.lst_parcial, "IdCatalogoParcial", "NomCatalogo"), new { @class = "form-control", @id = "IdCatalogoParcial" })
                    @Html.ValidationMessageFor(q => q.IdCatalogoParcial, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <button type="button" class="btn btn-default" id="btn_guardar" onclick="buscar();">Buscar</button>
                <button type="submit" class="btn btn-primary" title="Guardar">Guardar</button>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                @Html.DevExpress().UploadControl(settings =>
           {
               settings.Name = "UploadControlFile";
               settings.CallbackRouteValues = new { Controller = "MatriculaCalificacionParcialCualitativa", Action = "UploadControlUpload" };
               settings.ShowUploadButton = true;
               settings.ShowProgressPanel = true;
               settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
               settings.NullText = "Selecciona el archivo...";
               settings.ClientSideEvents.FilesUploadStart = "OnFileUploadStart";
               settings.ClientSideEvents.FileUploadComplete = "OnFileUploadComplete";
           }).GetHtml()
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                @Html.Action("GridViewPartial_MatriculaCalificacionParcialCualitativaImportacion")
            </div>
        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}