@model Core.Info.Academico.aca_AnioLectivoParcial_Info
@{
    ViewBag.Title = "Generar parciales";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function generar() {
        var datos = {
            IdEmpresa: $("#IdEmpresa").val(),
            IdSede: IdSede.GetValue(),
            IdAnio: IdAnio.GetValue(),
            IdTransaccionSession: $("#IdTransaccionSession").val()
        }
        $("#btn_guardar").attr("disabled", true);
        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("generar", "Parcial", new { Area = "Academico" })',
            async: false,
            bDeferRender: true,
            bProcessing: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data=="") {
                    $("#myform").submit();
                }
                else {
                    alert(data);
                    $("#btn_guardar").attr("disabled", false);
                }
                
            },
            error: function (error) {
            }
        });
    }
</script>
@using (Html.BeginForm("Index", "Parcial", FormMethod.Post, new { @role = "form", @class = "form", @id = "myform" }))
{
    @Html.HiddenFor(q => q.IdEmpresa, new { @id = "IdEmpresa" })
    @Html.HiddenFor(q => q.IdTransaccionSession, new { @id = "IdTransaccionSession" })
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="IdEmpresa">Año Lectivo</label>
                    @Html.Partial("_ComboBoxPartial_Anio", Model)
                    @Html.ValidationMessageFor(q => q.IdAnio, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="IdEmpresa">Sede</label>
                    @Html.Partial("_ComboBoxPartial_Sede", Model)
                    @Html.ValidationMessageFor(q => q.IdSede, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="box-footer">
        <button type="submit" class="btn btn-default" id="btn_buscar">Buscar</button>
        <button type="button" class="btn btn-primary" id="btn_guardar" onclick="generar();">Generar</button>
    </div>
    @Html.Action("GridViewPartial_Parcial", new { Nuevo = ViewBag.Nuevo, Modificar = ViewBag.Modificar, Anular = ViewBag.Anular })
    }

