@model Core.Info.Academico.aca_AnioLectivo_Info
@{
    ViewBag.Title = "Modificar año lectivo";

    if (string.IsNullOrEmpty(Core.Web.Helps.SessionFixed.IdUsuario) || string.IsNullOrEmpty(Core.Web.Helps.SessionFixed.IdEmpresa))
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>
@using (Html.BeginForm("Modificar", "AnioLectivo", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    @Html.HiddenFor(q => q.IdEmpresa)
    @Html.HiddenFor(q => q.IdAnio)

    if (ViewBag.mensaje != null)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-warning alert-dismissible">
                    <h4>
                        <i class="icon fa fa-warning"></i> @ViewBag.mensaje
                    </h4>
                </div>
            </div>
        </div>
    }
    if (ViewBag.MensajeSuccess != null)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success alert-dismissible">
                    <h4>
                        <i class="icon fa fa-check"></i> @ViewBag.MensajeSuccess
                    </h4>
                </div>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-11">
                <div class="form-group">
                    <label for="IdSucursal">Descripción*</label>
                    @Html.TextBoxFor(q => q.Descripcion, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Descripcion, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <label for="IdSucursal">&nbsp;</label>
                    <a type="button" class="btn btn-primary form-control" title="Nuevo" href="@Url.Action("Nuevo","AnioLectivo",new { Area = "Academico", IdEmpresa = Model.IdEmpresa },null)">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="Sede">Fecha desde*</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        @Html.DevExpress().DateEditFor(q => q.FechaDesde, settings =>
                   {
                       settings.Name = "FechaDesde";
                       settings.Properties.UseMaskBehavior = true;
                       settings.Properties.EditFormat = EditFormat.Date;
                       settings.Properties.EditFormatString = "dd/MM/yyyy";
                       settings.Properties.TimeSectionProperties.TimeEditProperties.EditFormat = EditFormat.Date;
                       settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                   }).GetHtml()
                        @Html.ValidationMessageFor(q => q.FechaDesde, "", new { @class = "text-danger" })
                    </div>

                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="Sede">Fecha hasta*</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        @Html.DevExpress().DateEditFor(q => q.FechaHasta, settings =>
                   {
                       settings.Name = "FechaHasta";
                       settings.Properties.UseMaskBehavior = true;
                       settings.Properties.EditFormat = EditFormat.Date;
                       settings.Properties.EditFormatString = "dd/MM/yyyy";
                       settings.Properties.TimeSectionProperties.TimeEditProperties.EditFormat = EditFormat.Date;
                       settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                   }).GetHtml()
                        @Html.ValidationMessageFor(q => q.FechaHasta, "", new { @class = "text-danger" })
                    </div>

                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="obligatorio"></label>
                    @Html.DevExpress().CheckBoxFor(q => q.EnCurso, settings =>
                            {
                                settings.Name = "EnCurso";
                                settings.Text = "En Curso";
                            }).GetHtml()
                    @Html.ValidationMessageFor(q => q.EnCurso, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="obligatorio"></label>
                    @Html.DevExpress().CheckBoxFor(q => q.BloquearMatricula, settings =>
                        {
                            settings.Name = "BloquearMatricula";
                            settings.Text = "Bloquear Matricula";
                        }).GetHtml()
                    @Html.ValidationMessageFor(q => q.BloquearMatricula, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="info_persona.pe_Naturaleza">Curso bachiller*</label>
                    @Html.DevExpress().ComboBoxFor(q => q.IdCursoBachiller, settings =>
                           {
                               settings.Name = "IdCursoBachiller";
                               settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                               settings.Properties.DisplayFormatString = "[{0}] - {1}";
                               settings.Properties.Columns.Add("IdCurso", "ID").Width = System.Web.UI.WebControls.Unit.Percentage(20);
                               settings.Properties.Columns.Add("NomCurso", "Descripción").Width = System.Web.UI.WebControls.Unit.Percentage(80);
                               //Campo ID
                               settings.Properties.ValueField = "IdCurso";
                               settings.Properties.ValueType = typeof(int);
                               settings.Properties.TextField = "NomCurso";
                               settings.Properties.NullText = "== Seleccione ==";
                               settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                           }).BindList(ViewBag.lst_curso).GetHtml()
                    @Html.ValidationMessageFor(q => q.IdCursoBachiller, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="IdEmpresa">Año Lectivo Anterior</label>
                    @Html.Partial("_ComboBoxPartial_Anio", Model)
                    @Html.ValidationMessageFor(q => q.IdAnioLectivoAnterior, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="IdSucursal">Calificación mínima por parcial*</label>
                    @Html.TextBoxFor(q => q.PromedioMinimoParcial, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.PromedioMinimoParcial, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="IdSucursal">Calificación mínima a promover*</label>
                    @Html.TextBoxFor(q => q.PromedioMinimoPromocion, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.PromedioMinimoPromocion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-default" href="@Url.Action("Index","AnioLectivo",new { Area = "Academico" },null)">Cancelar</a>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}