@model Core.Info.Academico.aca_PlantillaTipo_Info
@{
    ViewBag.Title = "Nuevo tipo plantilla";

    if (string.IsNullOrEmpty(Core.Web.Helps.SessionFixed.IdUsuario) || string.IsNullOrEmpty(Core.Web.Helps.SessionFixed.IdEmpresa))
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>

@using (Html.BeginForm("Nuevo", "PlantillaTipo", FormMethod.Post, new { @class = "form", @role = "form", @id = "myform" }))
{
    @Html.HiddenFor(q => q.IdEmpresa, new { @id = "IdEmpresa" })
    @Html.HiddenFor(q => q.IdTransaccionSession, new { @id = "IdTransaccionSession" })
    if (ViewBag.mensaje != null)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-warning alert-dismissible">
                    <h4>
                        <i class="icon fa fa-warning"></i> @ViewBag.mensaje
                    </h4>
                </div>
            </div>
        </div>
    }
    
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="IdEmpresa">Descripción</label>
                    @Html.TextBoxFor(q => q.NomPlantillaTipo, new { @class = "form-control", @id = "NomPlantillaTipo" })
                    @Html.ValidationMessageFor(q => q.NomPlantillaTipo, "", new { @class = "text-danger" })
                </div>
            </div>
            </div>
        </div>
            //@Html.Action("GridViewPartial_PlantillaTipo")
    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-default" href="@Url.Action("Index","PlantillaTipo",new { Area = "Academico" },null)">Cancelar</a>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}

