@model Core.Info.General.tb_ColaCorreoParametros_Info
@{
    ViewBag.Title = "Modificar parámetros";

    if (string.IsNullOrEmpty(Core.Web.Helps.SessionFixed.IdUsuario) || string.IsNullOrEmpty(Core.Web.Helps.SessionFixed.IdEmpresa))
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>
@using (Html.BeginForm("Index", "CorreoParametro", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    @Html.HiddenFor(q => q.IdEmpresa)
    if (ViewBag.mensaje != null)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-warning alert-dismissible">
                    <h4>
                        <i class="icon fa fa-warning"></i> @ViewBag.mensaje
                    </h4>
                </div>
            </div>
        </div>
    }
    if (ViewBag.MensajeSuccess != null)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success alert-dismissible">
                    <h4>
                        <i class="icon fa fa-check"></i> @ViewBag.MensajeSuccess
                    </h4>
                </div>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="IdSucursal">Usuario*</label>
                    @Html.TextBoxFor(q => q.Usuario, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Usuario, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="IdSucursal">Contraseña*</label>
                    @Html.TextBoxFor(q => q.Contrasenia, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Contrasenia, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="IdSucursal">Puerto*</label>
                    @Html.TextBoxFor(q => q.Puerto, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Puerto, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="IdSucursal">Host*</label>
                    @Html.TextBoxFor(q => q.Host, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Host, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="obligatorio"></label>
                    @Html.DevExpress().CheckBoxFor(q => q.PermitirSSL, settings =>
                        {
                            settings.Name = "PermitirSSL";
                            settings.Text = "Permitir SSL";
                        }).GetHtml()
                    @Html.ValidationMessageFor(q => q.PermitirSSL, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="IdSucursal">Correo copia*</label>
                    @Html.TextBoxFor(q => q.CorreoCopia, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.CorreoCopia, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}

