@model Core.Info.Academico.aca_MatriculaCondicional_Info
@{
    ViewBag.Title = "Consultar matrícula condicional";

    if (string.IsNullOrEmpty(Core.Web.Helps.SessionFixed.IdUsuario) || string.IsNullOrEmpty(Core.Web.Helps.SessionFixed.IdEmpresa))
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>

@using (Html.BeginForm("Consultar", "MatriculaCondicional", FormMethod.Post, new { @class = "form", @role = "form", @id = "myform" }))
{
    @Html.HiddenFor(q => q.IdEmpresa, new { @id = "IdEmpresa" })
    @Html.HiddenFor(q => q.IdMatriculaCondicional, new { @id = "IdMatriculaCondicional" })
    @Html.HiddenFor(q => q.IdTransaccionSession, new { @id = "IdTransaccionSession" })
    if (ViewBag.mensaje != null)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-warning alert-dismissible">
                    <h4>
                        <i class="icon fa fa-warning"></i> @ViewBag.mensaje
                    </h4>
                </div>
            </div>
        </div>
    }
    if (ViewBag.MensajeSuccess != null)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success alert-dismissible">
                    <h4>
                        <i class="icon fa fa-check"></i> @ViewBag.MensajeSuccess
                    </h4>
                </div>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-offset-9 col-md-1">
                @if (@ViewBag.Nuevo == true)
                {
                    <div class="form-group">
                        <a type="button" class="btn btn-primary form-control" title="Nuevo" href="@Url.Action("Nuevo", "MatriculaCondicional", new { Area = "Academico", IdEmpresa = Model.IdEmpresa }, null)">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                }
            </div>
            <div class="col-md-1">
                @if (@ViewBag.Modificar == true)
                {
                    <div class="form-group">
                        <a type="button" class="btn btn-primary form-control" title="Modificar" href="@Url.Action("Modificar", "MatriculaCondicional", new { Area = "Academico", IdEmpresa = Model.IdEmpresa, IdMatriculaCondicional = Model.IdMatriculaCondicional }, null)">
                            <i class="fa fa-edit"></i>
                        </a>
                    </div>
                }
            </div>
            <div class="col-md-1">
                @if (@ViewBag.Anular == true)
                {
                    <div class="form-group">
                        <a type="button" class="btn btn-primary form-control" title="Anular" href="@Url.Action("Anular", "MatriculaCondicional", new { Area = "Academico", IdEmpresa = Model.IdEmpresa, IdMatriculaCondicional = Model.IdMatriculaCondicional }, null)">
                            <i class="fa fa-remove"></i>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="IdCliente">Alumno*</label>
                    @Html.Partial("_CmbAlumno_Readonly", Model.IdAlumno)
                    @Html.ValidationMessageFor(q => q.IdAlumno, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="IdEmpresa">Año Lectivo*</label>
                    @Html.Partial("_ComboBoxPartial_Anio_Readonly", Model)
                    @Html.ValidationMessageFor(q => q.IdAnio, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="pe_sexo">Tipo</label>
                    @Html.DropDownListFor(q => q.IdCatalogoCONDIC, new SelectList(ViewBag.lst_tipo_condicional, "IdCatalogo", "NomCatalogo"), new { @class = "form-control", @id = "IdCatalogoCONDIC" })
                    @Html.ValidationMessageFor(q => q.IdCatalogoCONDIC, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="pf_fecha">Fecha*</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        @Html.DevExpress().DateEditFor(q => q.Fecha, settings =>
                        {
                            settings.Name = "Fecha";
                            settings.Properties.UseMaskBehavior = true;
                            settings.Properties.EditFormat = EditFormat.Date;
                            settings.Properties.EditFormatString = "dd/MM/yyyy";
                            settings.Properties.TimeSectionProperties.TimeEditProperties.EditFormat = EditFormat.Date;
                            settings.Properties.AllowMouseWheel = false;
                            settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                            settings.Properties.AllowMouseWheel = false;
                        }).GetHtml()
                        @Html.ValidationMessageFor(q => q.Fecha, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <label for="IdEmpresa">Observación</label>
                @Html.TextBoxFor(q => q.Observacion, new { @class = "form-control" })
                @Html.ValidationMessageFor(q => q.Observacion, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                @Html.Action("GridViewPartial_MatriculaCondicionalParrafo")
            </div>
        </div>
    </div>
    <div class="box-footer">
        <a class="btn btn-default" href="@Url.Action("Index","MatriculaCondicional",new { Area = "Academico" },null)">Cancelar</a>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}

