@model Core.Info.CuentasPorCobrar.cxc_Convenio_Info
@{
    ViewBag.Title = "Consultar convenio";
    if (string.IsNullOrEmpty(Core.Web.Helps.SessionFixed.IdUsuario) || string.IsNullOrEmpty(Core.Web.Helps.SessionFixed.IdEmpresa))
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>

<script type="text/javascript">
    $(function () {

    })

    function SetDatosCobranza() {

        var datos = {
            IdEmpresa: $("#IdEmpresa").val(),
            IdAlumno: IdAlumno.GetValue()
        }
        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("SetDatosCobranza", "Convenio",new { Area = "CuentasPorCobrar"})',
            async: false,
            bDeferRender: true,
            bProcessing: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $("#Valor").val(data.Saldo),
                IdPersonaConvenio.SetValue(data.IdPersonaFactura);

            },
            error: function (error) {
            }
        });
    }

    function Generar() {
        var datos = {
            Valor: $("#Valor").val(),
            FechaPrimerPago: FechaPrimerPago.GetValue(),
            NumCuotas: $("#NumCuotas").val()
        }
        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("GenerarConvenioDet", "Convenio", new { Area = "CuentasPorCobrar" })',
            async: false,
            bDeferRender: true,
            bProcessing: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                GridViewPartial_Convenio_Det.PerformCallback();
            },
            error: function (error) {
            }
        });
    };

    function Imprimir() {
        var location = GetPathServer();
        var win = window.open(location +"/Reportes/CuentasporCobrarReportes/CXC_017?IdEmpresa="+@Core.Web.Helps.SessionFixed.IdEmpresa+"&IdConvenio="+@Model.IdConvenio, '_blank');
        win.focus();
    }
</script>


@using (Html.BeginForm("Consultar", "Convenio", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    @Html.HiddenFor(q => q.IdTransaccionSession, new { @id = "IdTransaccionSession" })
    @Html.HiddenFor(q => q.IdEmpresa)
    @Html.HiddenFor(q => q.IdConvenio)
    @Html.HiddenFor(q => q.IdMatricula, new { @id = "IdMatricula" })

    if (@ViewBag.mensaje != null)
    {
        <div class="alert alert-warning alert-dismissible">
            <h4>
                <i class="icon fa fa-warning"></i> @ViewBag.mensaje
            </h4>
        </div>
    }
    if (@ViewBag.MensajeSuccess != null)
    {
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4>
                <i class="icon fa fa-check"></i> @ViewBag.MensajeSuccess
            </h4>
        </div>
    }
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-offset-8 col-md-1">
                <label for="IdNuevo"></label>
                @if (@ViewBag.Nuevo == true)
                {
                    <div class="form-group">
                        <a type="button" class="btn btn-primary form-control" title="Nuevo" href="@Url.Action("Nuevo", "Convenio", new { Area = "CuentasPorCobrar", IdEmpresa = Model.IdEmpresa }, null)">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                }
            </div>
            <div class="col-md-1">
                <label for="IdNuevo"></label>
                @if (@ViewBag.Modificar == true)
                {
                    <div class="form-group">
                        <a type="button" class="btn btn-primary form-control" title="Modificar" href="@Url.Action("Modificar", "Convenio", new { Area = "CuentasPorCobrar", IdEmpresa = Model.IdEmpresa, IdConvenio=Model.IdConvenio }, null)">
                            <i class="fa fa-edit"></i>
                        </a>
                    </div>
                }
            </div>
            <div class="col-md-1">
                <label for="IdNuevo"></label>
                @if (@ViewBag.Anular == true)
                {
                    <div class="form-group">
                        <a type="button" class="btn btn-primary form-control" title="Anular" href="@Url.Action("Anular", "Convenio", new { Area = "CuentasPorCobrar", IdEmpresa = Model.IdEmpresa, IdConvenio=Model.IdConvenio }, null)">
                            <i class="fa fa-remove"></i>
                        </a>
                    </div>
                }
            </div>
            <div class="col-md-1">
                <label for="IdNuevo"></label>
                <button type="button" class="btn btn-primary form-control" id="btn_imprimir" onclick="Imprimir();" title="Imprimir">
                    <i class="fa fa-print"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="cr_fecha">Fecha Convenio*</label>
                    @Html.DevExpress().DateEditFor(q => q.Fecha, settings =>
                        {
                            settings.Name = "Fecha";
                            settings.Properties.UseMaskBehavior = true;
                            settings.Properties.EditFormat = EditFormat.Date;
                            settings.Properties.EditFormatString = "dd/MM/yyyy";
                            settings.Properties.TimeSectionProperties.TimeEditProperties.EditFormat = EditFormat.Date;
                            settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                        }).GetHtml()
                    @Html.ValidationMessageFor(q => q.Fecha, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="cr_fecha">Fecha Primer Pago*</label>
                    @Html.DevExpress().DateEditFor(q => q.FechaPrimerPago, settings =>
                        {
                            settings.Name = "FechaPrimerPago";
                            settings.Properties.UseMaskBehavior = true;
                            settings.Properties.EditFormat = EditFormat.Date;
                            settings.Properties.EditFormatString = "dd/MM/yyyy";
                            settings.Properties.TimeSectionProperties.TimeEditProperties.EditFormat = EditFormat.Date;
                            settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                        }).GetHtml()
                    @Html.ValidationMessageFor(q => q.FechaPrimerPago, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-offset-4 col-md-2">
                <div class="form-group">
                    <label for="cr_saldo">Valor</label>
                    @Html.TextBoxFor(q => q.Valor, new { @id = "Valor", @class = "form-control"})
                    @Html.ValidationMessageFor(q => q.Valor, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="Valor">Nímero cuotas*</label>
                    @Html.TextBoxFor(q => q.NumCuotas, new { @class = "form-control", @id = "NumCuotas" })
                    @Html.ValidationMessageFor(q => q.NumCuotas, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="IdCliente">Estudiante*</label>
                    @Html.Partial("_CmbAlumno", Model.IdAlumno)
                    @Html.ValidationMessageFor(q => q.IdAlumno, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="IdCliente">Persona Convenio*</label>
                    @Html.Partial("_CmbPersona", Model.IdPersonaConvenio)
                    @Html.ValidationMessageFor(q => q.IdPersonaConvenio, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="cr_saldo">Observacion</label>
                    @Html.TextBoxFor(q => q.Observacion, new { @id = "Observacion", @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.Observacion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="GridViewPartial_prestamos_det">Detalle convenio*</label>
                    @Html.Action("GridViewPartial_Convenio_Det")

                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <a class="btn btn-default" href="@Url.Action("Index", "Convenio", new { Area = "CuentasPorCobrar" }, null)">Cancelar</a>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}

