@model Core.Info.Helps.cl_filtros_Info
@{
    ViewBag.Title = "Ficha del estudiante";
    if (string.IsNullOrEmpty(Core.Web.Helps.SessionFixed.IdUsuario) || string.IsNullOrEmpty(Core.Web.Helps.SessionFixed.IdEmpresa))
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Areas/Reportes/Views/Shared/_LayoutConsulta.cshtml";
}
@using (Html.BeginForm("ACA_001", "AcademicoReportes", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    @Html.HiddenFor(q => q.IdEmpresa)
    @Html.HiddenFor(q => q.IdSucursal)
    <div class="box">
        <div class="box-header with-border">
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Aplicar filtros</button>
                </div>
            </div>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>

        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="IdProducto">Año lectivo</label>
                            @Html.Partial("_ComboBoxPartial_Anio", Model)
                            @Html.ValidationMessageFor(q => q.IdAnio, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="IdCliente">Alumno</label>
                            @Html.Partial("_CmbAlumno", Model.IdAlumno)
                            @Html.ValidationMessageFor(q => q.IdAlumno, "", new { @class = "text-danger", @id = "IdAlumno" })
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>

    <div id="Tabs" role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active">
                <a href="#tab_hoja_matricula" aria-controls="stock" role="tab" data-toggle="tab">Hoja de matrícula</a>
            </li>
            <li>
                <a href="#tab_solicitud_matricula" aria-controls="listado" role="tab" data-toggle="tab">Solicitud</a>
            </li>
            <li>
                <a href="#tab_contrato_matricula" aria-controls="listado" role="tab" data-toggle="tab">Contrato</a>
            </li>
        </ul>
        <div class="tab-content" style="padding-top: 20px">
            <div role="tabpanel" class="tab-pane active" style="margin-left: 1em;" id="tab_hoja_matricula">
                @Html.DevExpress().WebDocumentViewer(settings =>
                    {
                        settings.ClientSideEvents.Init = "function(s, e) {s.previewModel.reportPreview.zoom(1);}";
                        settings.MobileMode = false;
                        settings.Name = "webDocumentViewer";
                    }).Bind(ViewBag.Report).GetHtml()
            </div>

            <div role="tabpanel" class="tab-pane" style="margin-left: 1em;" id="tab_solicitud_matricula">

                @Html.DevExpress().WebDocumentViewer(settings =>
               {
                   settings.ClientSideEvents.Init = "function(s, e) {s.previewModel.reportPreview.zoom(1);}";
                   settings.MobileMode = false;
                   settings.Name = "webDocumentViewer2";
               }).Bind(ViewBag.ReportSolicitud).GetHtml()
            </div>
            <div role="tabpanel" class="tab-pane" style="margin-left: 1em;" id="tab_contrato_matricula">

                @Html.DevExpress().WebDocumentViewer(settings =>
               {
                   settings.ClientSideEvents.Init = "function(s, e) {s.previewModel.reportPreview.zoom(1);}";
                   settings.MobileMode = false;
                   settings.Name = "webDocumentViewer3";
               }).Bind(ViewBag.ReportContrato).GetHtml()
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            [@Session["IdEmpresa"]] @Session["nom_empresa"]
        </div>
        <!-- /.box-footer-->
    </div>
}
