@model Core.Info.Academico.aca_AnioLectivoCalificacionHistorico_Info
@{
    ViewBag.Title = "Consulta de promedios generales";

    if (string.IsNullOrEmpty(Core.Web.Helps.SessionFixed.IdUsuario) || string.IsNullOrEmpty(Core.Web.Helps.SessionFixed.IdEmpresa))
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(q => q.IdEmpresa, new { @id = "IdEmpresa" })
    @Html.HiddenFor(q => q.IdTransaccionSession, new { @id = "IdTransaccionSession" })

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="IdEmpresa">Estudiante</label>
                    @Html.Partial("_CmbAlumno", Model.IdAlumno)
                    @Html.ValidationMessageFor(q => q.IdAlumno, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-primary" href="@Url.Action("Importar","CalificacionHistorico",new { Area = "Academico", IdEmpresa = Model.IdEmpresa },null)">Importar desde excel</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                @Html.Action("GridViewPartial_CalificacionHistorico")
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-1"><br />
                <a class="btn btn-default" href="@Url.Action("Modificar","Alumno",new { Area = "Academico", IdEmpresa = Model.IdEmpresa, IdAlumno = Model.IdAlumno },null)">Volver</a>
            </div>
        </div>
    </div>
}

