@model Core.Info.Academico.aca_AnioLectivoCalificacionHistorico_Info
@{
    ViewBag.Title = "Nuevo promedio general";

    if (string.IsNullOrEmpty(Core.Web.Helps.SessionFixed.IdUsuario) || string.IsNullOrEmpty(Core.Web.Helps.SessionFixed.IdEmpresa))
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>
@using (Html.BeginForm("Nuevo", "CalificacionHistorico", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    @Html.HiddenFor(q => q.IdEmpresa)
    if (ViewBag.mensaje != null)
    {
        <div class="alert alert-warning alert-dismissible">
            <h4>
                <i class="icon fa fa-warning"></i> @ViewBag.mensaje
            </h4>
        </div>

    }

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="IdEmpresa">Año Lectivo</label>
                    @Html.Partial("_ComboBoxPartial_Anio", Model)
                    @Html.ValidationMessageFor(q => q.IdAnio, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="IdEmpresa">Nivel</label>
                    @Html.DevExpress().ComboBoxFor(q => q.IdNivel, settings =>
                   {
                       settings.Name = "IdNivel";
                       settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                       settings.Properties.DisplayFormatString = "[{0}] - {1}";
                       settings.Properties.Columns.Add("IdNivel", "ID").Width = System.Web.UI.WebControls.Unit.Percentage(20);
                       settings.Properties.Columns.Add("NomNivel", "Nivel").Width = System.Web.UI.WebControls.Unit.Percentage(80);
                       //Campo ID
                       settings.Properties.ValueField = "IdNivel";
                       settings.Properties.ValueType = typeof(int);
                       settings.Properties.TextField = "NomNivel";
                       settings.Properties.NullText = "== Seleccione ==";
                       settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                   }).BindList(ViewBag.lst_nivel).GetHtml()
                    @Html.ValidationMessageFor(q => q.IdNivel, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="IdEmpresa">Curso</label>
                    @Html.DevExpress().ComboBoxFor(q => q.IdCurso, settings =>
                   {
                       settings.Name = "IdCurso";
                       settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                       settings.Properties.DisplayFormatString = "[{0}] - {1}";
                       settings.Properties.Columns.Add("IdCurso", "ID").Width = System.Web.UI.WebControls.Unit.Percentage(20);
                       settings.Properties.Columns.Add("NomCurso", "Curso").Width = System.Web.UI.WebControls.Unit.Percentage(80);
                       //Campo ID
                       settings.Properties.ValueField = "IdCurso";
                       settings.Properties.ValueType = typeof(int);
                       settings.Properties.TextField = "NomCurso";
                       settings.Properties.NullText = "== Seleccione ==";
                       settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                   }).BindList(ViewBag.lst_curso).GetHtml()
                    @Html.ValidationMessageFor(q => q.IdCurso, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="IdEmpresa">Alumno</label>
                        @Html.Partial("_CmbAlumno", Model)
                        @Html.ValidationMessageFor(q => q.IdAlumno, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="IdEmpresa">Antigua institución</label>
                        @Html.TextBoxFor(q => q.AntiguaInstitucion, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.AntiguaInstitucion, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="Sede">Promedio</label>
                        @Html.TextBoxFor(q => q.Promedio, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Promedio, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="Sede">Conducta</label>
                        @Html.DropDownListFor(q => q.Conducta, new SelectList(ViewBag.lst_conducta, "Calificacion", "Letra"), new { @class = "form-control", @id = "Conducta" })
                        @Html.ValidationMessageFor(m => m.Conducta, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a class="btn btn-default" href="@Url.Action("Index","CalificacionHistorico",new { Area = "Academico" },null)">Cancelar</a>
        </div>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    }

