@model Core.Info.Academico.aca_MatriculaCalificacion_Info
@{
    ViewBag.Title = "Ingreso de calificaciones de exámenes";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function buscar() {
        var datos = {
            IdEmpresa: $("#IdEmpresa").val(),
            IdSede: IdSede.GetValue(),
            IdAnio: IdAnio.GetValue(),
            IdNivel: IdNivel.GetValue(),
            IdJornada: IdJornada.GetValue(),
            IdCurso: IdCurso.GetValue(),
            IdParalelo: IdParalelo.GetValue(),
            IdMateria: IdMateria.GetValue(),
            IdCatalogoParcial: $("#IdCatalogoParcial").val()
        }
        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("cargar_calificaciones", "MatriculaCalificacionExamen", new { Area = "Academico" })',
            async: false,
            bDeferRender: true,
            bProcessing: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                GridViewPartial_MatriculaCalificacionExamen.PerformCallback();
            },
            error: function (error) {
            }
        });
    }
</script>
@using (Html.BeginForm("Index", "MatriculaCalificacionExamen", FormMethod.Post, new { @role = "form", @class = "form", @id = "myform" }))
{
    @Html.HiddenFor(q => q.IdEmpresa, new { @id = "IdEmpresa" })
    @Html.HiddenFor(q => q.IdTransaccionSession, new { @id = "IdTransaccionSession" })
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="IdEmpresa">Año Lectivo</label>
                    @Html.Partial("_ComboBoxPartial_Anio", Model)
                    @Html.ValidationMessageFor(q => q.IdAnio, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="IdEmpresa">Sede</label>
                    @Html.Partial("_ComboBoxPartial_Sede", Model)
                    @Html.ValidationMessageFor(q => q.IdSede, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label for="IdEmpresa">Nivel Académico</label>
                    @Html.Partial("_ComboBoxPartial_Nivel", Model)
                    @Html.ValidationMessageFor(q => q.IdNivel, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="IdEmpresa">Jornada</label>
                    @Html.Partial("_ComboBoxPartial_Jornada", Model)
                    @Html.ValidationMessageFor(q => q.IdJornada, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="IdEmpresa">Curso</label>
                    @Html.Partial("_ComboBoxPartial_Curso", Model)
                    @Html.ValidationMessageFor(q => q.IdCurso, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="IdEmpresa">Paralelo</label>
                    @Html.Partial("_ComboBoxPartial_Paralelo", Model)
                    @Html.ValidationMessageFor(q => q.IdParalelo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label for="IdEmpresa">Materia</label>
                    @Html.Partial("_ComboBoxPartial_Materia", Model)
                    @Html.ValidationMessageFor(q => q.IdMateria, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="IdEmpresa">Parcial</label>
                    @Html.DropDownListFor(q => q.IdCatalogoParcial, new SelectList(ViewBag.lst_examen, "IdCatalogoParcial", "NomCatalogo"), new { @class = "form-control", @id = "IdCatalogoParcial" })
                    @Html.ValidationMessageFor(q => q.IdCatalogoParcial, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="box-footer">
        <button type="button" class="btn btn-default" id="btn_guardar" onclick="buscar();">Buscar</button>     
    </div>
    @Html.Action("GridViewPartial_MatriculaCalificacionExamen")
    }

