@model Core.Info.Academico.aca_MatriculaCondicionalParrafo_Info
@{
    ViewBag.Title = "Anular Formato de matrícula condicional";

    if (string.IsNullOrEmpty(Core.Web.Helps.SessionFixed.IdUsuario) || string.IsNullOrEmpty(Core.Web.Helps.SessionFixed.IdEmpresa))
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>

@using (Html.BeginForm("Anular", "MatriculaCondicionalParrafo", FormMethod.Post, new { @class = "form", @role = "form", @id = "myform" }))
{
    @Html.HiddenFor(q => q.IdEmpresa, new { @id = "IdEmpresa" })
    @Html.HiddenFor(q => q.IdParrafo, new { @id = "IdParrafo" })
    @Html.HiddenFor(q => q.IdTransaccionSession, new { @id = "IdTransaccionSession" })
    if (ViewBag.mensaje != null)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-warning alert-dismissible">
                    <h4>
                        <i class="icon fa fa-warning"></i> @ViewBag.mensaje
                    </h4>
                </div>
            </div>
        </div>
    }
    if (ViewBag.MensajeSuccess != null)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success alert-dismissible">
                    <h4>
                        <i class="icon fa fa-check"></i> @ViewBag.MensajeSuccess
                    </h4>
                </div>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <label for="Id">Nombre*</label>
                @Html.TextBoxFor(q => q.Nombre, new { @class = "form-control" })
                @Html.ValidationMessageFor(q => q.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <label for="IdEmpresa">Parrafo*</label>
                @Html.TextAreaFor(q => q.Parrafo, new { @class = "form-control" })
                @Html.ValidationMessageFor(q => q.Parrafo, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-1">
                <label for="Id">Orden*</label>
                @Html.TextBoxFor(q => q.Orden, new { @class = "form-control" })
                @Html.ValidationMessageFor(q => q.Orden, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-offset-1 col-md-2">
                <div class="form-group">
                    <label for="Id">Tipo*</label>
                    @Html.DropDownListFor(q => q.IdCatalogoCONDIC, new SelectList(ViewBag.lst_tipo_condicional, "IdCatalogo", "NomCatalogo"), new { @class = "form-control", @id = "IdCatalogoCONDIC" })
                    @Html.ValidationMessageFor(q => q.IdCatalogoCONDIC, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group has-error">
                    <label for="Rector">Motivo de anulación*</label>
                    @Html.TextBoxFor(q => q.MotivoAnulacion, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.MotivoAnulacion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="box-footer">
        <button type="submit" class="btn btn-danger">Anular</button>
        <a class="btn btn-default" href="@Url.Action("Index","MatriculaCondicional",new { Area = "Academico" },null)">Cancelar</a>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}

