@using System.Web.UI.WebControls
@model Core.Info.Helps.cl_filtros_Info
@{
    ViewBag.Title = "Auditoría contable";
    if (string.IsNullOrEmpty(Core.Web.Helps.SessionFixed.IdUsuario) || string.IsNullOrEmpty(Core.Web.Helps.SessionFixed.IdEmpresa))
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_LayoutConsulta.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>
<script type="text/javascript">
    var selectedIDsFactura;
    var selectedIDsNota;
    var selectedIDsCobro;

    function OnBeginCallbackFactura(s, e) {
        //Pass all selected keys to GridView callback action
        e.customArgs["selectedIDsFactura"] = selectedIDsFactura;
        e.customArgs['TransaccionFixed'] = $('#IdTransaccionSession').val();
    }
    function OnSelectionChangedFactura(s, e) {
        s.GetSelectedFieldValues("IdString", GetSelectedFieldValuesCallbackFactura);
    }
    function GetSelectedFieldValuesCallbackFactura(values) {
        //Capture all selected keys
        selectedIDsFactura = values.join(',');
    }


    function OnBeginCallbackNota(s, e) {
        //Pass all selected keys to GridView callback action
        e.customArgs["selectedIDsNota"] = selectedIDsNota;
        e.customArgs['TransaccionFixed'] = $('#IdTransaccionSession').val();
    }
    function OnSelectionChangedNota(s, e) {
        s.GetSelectedFieldValues("IdString", GetSelectedFieldValuesCallbackNota);
    }
    function GetSelectedFieldValuesCallbackNota(values) {
        //Capture all selected keys
        selectedIDsNota = values.join(',');
    }


    function OnBeginCallbackCobro(s, e) {
        //Pass all selected keys to GridView callback action
        e.customArgs["selectedIDsCobro"] = selectedIDsCobro;
        e.customArgs['TransaccionFixed'] = $('#IdTransaccionSession').val();
    }
    function OnSelectionChangedCobro(s, e) {
        s.GetSelectedFieldValues("IdString", GetSelectedFieldValuesCallbackCobro);
    }
    function GetSelectedFieldValuesCallbackCobro(values) {
        //Capture all selected keys
        selectedIDsCobro = values.join(',');
    }

    function ContabilizarFactura() {
        var datos = {
            IdEmpresa: $("#IdEmpresa").val(),
            Ids: selectedIDsFactura
        }

        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("ContabilizarFactura", "AuditoriaContable", new { Area = "Contabilidad" })',
            async: false,
            bDeferRender: true,
            bProcessing: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var url = '@Url.Action("Index", "AuditoriaContable")';
                window.location.href = url;
            },
            error: function (error) {
            }
        });
    };

    function ContabilizarNota() {
        var datos = {
            IdEmpresa: $("#IdEmpresa").val(),
            Ids: selectedIDsNota
        }

        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("ContabilizarNota", "AuditoriaContable", new { Area = "Contabilidad" })',
            async: false,
            bDeferRender: true,
            bProcessing: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var url = '@Url.Action("Index", "AuditoriaContable")';
                window.location.href = url;
            },
            error: function (error) {
            }
        });
    }

    function ContabilizarCobro() {
        var datos = {
            IdEmpresa: $("#IdEmpresa").val(),
            Ids: selectedIDsCobro
        }

        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("ContabilizarCobro", "AuditoriaContable", new { Area = "Contabilidad" })',
            async: false,
            bDeferRender: true,
            bProcessing: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var url = '@Url.Action("Index", "AuditoriaContable")';
                window.location.href = url;
            },
            error: function (error) {
            }
        });
    }
</script>

@using (Html.BeginForm("Index","AuditoriaContable",FormMethod.Post,new { @rol="form"}))
{
    @Html.HiddenFor(q => q.IdEmpresa, new { @id = "IdEmpresa" })
    @Html.HiddenFor(q => q.IdTransaccionSession, new { @id = "IdTransaccionSession" })

    <div class="box">
        <div class="box-header with-border">
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Aplicar filtros</button>
                </div>
            </div>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="">Fecha inicio*</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                @Html.DevExpress().DateEditFor(q => q.fecha_ini, settings =>
                           {
                               settings.Name = "fecha_ini";
                               settings.Properties.UseMaskBehavior = true;
                               settings.Properties.EditFormat = EditFormat.Date;
                               settings.Properties.EditFormatString = "dd/MM/yyyy";
                               settings.Properties.TimeSectionProperties.TimeEditProperties.EditFormat = EditFormat.Date;
                               settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                           }).GetHtml()
                                @Html.ValidationMessageFor(q => q.fecha_ini, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="">Fecha fin*</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                @Html.DevExpress().DateEditFor(q => q.fecha_fin, settings =>
                           {
                               settings.Name = "fecha_fin";
                               settings.Properties.UseMaskBehavior = true;
                               settings.Properties.EditFormat = EditFormat.Date;
                               settings.Properties.EditFormatString = "dd/MM/yyyy";
                               settings.Properties.TimeSectionProperties.TimeEditProperties.EditFormat = EditFormat.Date;
                               settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                           }).GetHtml()
                                @Html.ValidationMessageFor(q => q.fecha_fin, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <div class="box">
        <div class="box-body">
            <div id="Tabs" role="tabpanel">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active">
                        <a href="#tabContaFactura" aria-controls="Movimientos" role="tab" data-toggle="tab">Facturas</a>
                    </li>
                    <li>
                        <a href="#tabContaNota" aria-controls="Movimientos" role="tab" data-toggle="tab">Notas Crédito/Débito</a>
                    </li>
                    <li>
                        <a href="#tabContaCobro" aria-controls="Movimientos" role="tab" data-toggle="tab">Cobros</a>
                    </li>
                </ul>
                <div class="tab-content" style="padding-top: 20px">
                    <div role="tabpanel" class="tab-pane active" style="margin-left: 1em;" id="tabContaFactura">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for=""></label>
                                        <div class="input-group">
                                            <button type="button" title="Contabilizar Facturas" class="btn btn-primary" id="btn_contabilizar" onclick="ContabilizarFactura();">
                                                <i class="fa fa-refresh"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.Action("GridViewPartial_ContaFactura")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" style="margin-left: 1em;" id="tabContaNota">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for=""></label>
                                        <div class="input-group">
                                            <button type="button" title="Contabilizar Notas" class="btn btn-primary" id="btn_contabilizar" onclick="ContabilizarNota();">
                                                <i class="fa fa-refresh"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.Action("GridViewPartial_ContaNota")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" style="margin-left: 1em;" id="tabContaCobro">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for=""></label>
                                        <div class="input-group">
                                            <button type="button" title="Contabilizar Cobros" class="btn btn-primary" id="btn_contabilizar" onclick="ContabilizarCobro();">
                                                <i class="fa fa-refresh"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.Action("GridViewPartial_ContaCobro")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
}