@model Core.Info.Academico.aca_Materia_Info
@{
    ViewBag.Title = "Modificar materia";

    if (string.IsNullOrEmpty(Core.Web.Helps.SessionFixed.IdUsuario) || string.IsNullOrEmpty(Core.Web.Helps.SessionFixed.IdEmpresa))
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>
@using (Html.BeginForm("Modificar", "Materia", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    @Html.HiddenFor(q => q.IdEmpresa)
    @Html.HiddenFor(q => q.IdMateria)
    if (ViewBag.mensaje != null)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-warning alert-dismissible">
                    <h4>
                        <i class="icon fa fa-warning"></i> @ViewBag.mensaje
                    </h4>
                </div>
            </div>
        </div>
    }
    if (ViewBag.MensajeSuccess != null)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success alert-dismissible">
                    <h4>
                        <i class="icon fa fa-check"></i> @ViewBag.MensajeSuccess
                    </h4>
                </div>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="IdSucursal">Materia*</label>
                    @Html.TextBoxFor(q => q.NomMateria, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.NomMateria, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="IdSucursal">Tipo de calificación*</label>
                    @Html.DropDownListFor(q => q.IdCatalogoTipoCalificacion, new SelectList(ViewBag.lst_tipo_calificacion, "IdCatalogo", "NomCatalogo"), new { @class = "form-control", @id = "IdCatalogoTipoCalificacion" })
                    @Html.ValidationMessageFor(m => m.IdCatalogoTipoCalificacion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">Area</label>
                    @Html.DevExpress().ComboBoxFor(q => q.IdMateriaArea, settings =>
                           {
                               settings.Name = "IdMateriaArea";
                               settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                               settings.Properties.DisplayFormatString = "[{0}] - {1}";
                               settings.Properties.Columns.Add("IdMateriaArea", "ID").Width = System.Web.UI.WebControls.Unit.Percentage(20);
                               settings.Properties.Columns.Add("NomMateriaArea", "Descripción").Width = System.Web.UI.WebControls.Unit.Percentage(80);
                               //Campo ID
                               settings.Properties.ValueField = "IdMateriaArea";
                               settings.Properties.ValueType = typeof(int);
                               settings.Properties.TextField = "NomMateriaArea";
                               settings.Properties.NullText = "== Seleccione ==";
                               settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                           }).BindList(ViewBag.lst_areas).GetHtml()
                    @Html.ValidationMessageFor(q => q.IdMateriaArea, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Sede">Grupo</label>
                    @Html.DevExpress().ComboBoxFor(q => q.IdMateriaGrupo, settings =>
                           {
                               settings.Name = "IdMateriaGrupo";
                               settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                               settings.Properties.DisplayFormatString = "[{0}] - {1}";
                               settings.Properties.Columns.Add("IdMateriaGrupo", "ID").Width = System.Web.UI.WebControls.Unit.Percentage(20);
                               settings.Properties.Columns.Add("NomMateriaGrupo", "Descripción").Width = System.Web.UI.WebControls.Unit.Percentage(80);
                               //Campo ID
                               settings.Properties.ValueField = "IdMateriaGrupo";
                               settings.Properties.ValueType = typeof(int);
                               settings.Properties.TextField = "NomMateriaGrupo";
                               settings.Properties.NullText = "== Seleccione ==";
                               settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                           }).BindList(ViewBag.lst_grupos).GetHtml()
                    @Html.ValidationMessageFor(q => q.IdMateriaGrupo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="Sede">Orden*</label>
                    @Html.TextBoxFor(q => q.OrdenMateria, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.OrdenMateria, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="obligatorio"></label>
                    @Html.DevExpress().CheckBoxFor(q => q.EsObligatorio, settings =>
                            {
                                settings.Name = "EsObligatorio";
                                settings.Text = "Es Obligatorio";
                            }).GetHtml()
                    @Html.ValidationMessageFor(q => q.EsObligatorio, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-default" href="@Url.Action("Index","Materia",new { Area = "Academico" },null)">Cancelar</a>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}