@model Core.Info.Academico.aca_CatalogoTipoFicha_Info
@{
    ViewBag.Title = "Consultar catálogo";
    if (string.IsNullOrEmpty(Core.Web.Helps.SessionFixed.IdUsuario) || string.IsNullOrEmpty(Core.Web.Helps.SessionFixed.IdEmpresa))
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>

@using (Html.BeginForm("Consultar", "CatalogoTipoFicha", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    @Html.HiddenFor(q => q.IdCatalogoTipoFicha)

    if (ViewBag.MensajeSuccess != null)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success alert-dismissible">
                    <h4>
                        <i class="icon fa fa-check"></i> @ViewBag.MensajeSuccess
                    </h4>
                </div>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-offset-9 col-md-1">
                <label for="IdNuevo"></label>
                @if (@ViewBag.Nuevo == true)
                {
                    <div class="form-group">
                        <a type="button" class="btn btn-primary form-control" title="Nuevo" href="@Url.Action("Nuevo","CatalogoTipoFicha",new { Area = "Academico" },null)">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                }
            </div>
            <div class="col-md-1">
                <label for="IdNuevo"></label>
                @if (@ViewBag.Modificar == true)
                {
                    <div class="form-group">
                        <a type="button" class="btn btn-primary form-control" title="Modificar" href="@Url.Action("Modificar", "CatalogoTipoFicha", new { Area = "Academico", IdCatalogoTipoFicha=Model.IdCatalogoTipoFicha }, null)">
                            <i class="fa fa-edit"></i>
                        </a>
                    </div>
                }
            </div>
            <div class="col-md-1">
                <label for="Autorizar"></label>
                @if (@ViewBag.Anular == true)
                {
                    <div class="form-group">
                        <a type="button" class="btn btn-primary form-control" title="Anular" href="@Url.Action("Anular", "CatalogoTipoFicha", new { Area = "Academico", IdCatalogoTipoFicha=Model.IdCatalogoTipoFicha }, null)">
                            <i class="fa fa-remove"></i>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="Codigo">Código*</label>
                    @Html.TextBoxFor(q => q.Codigo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Codigo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="tc_Descripcion">Descripción*</label>
                    @Html.TextBoxFor(q => q.NomCatalogoTipoFicha, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.NomCatalogoTipoFicha, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="box-footer">
        <a class="btn btn-default" href="@Url.Action("Index","CatalogoTipoFicha", new { Area ="Academico"}, null)">Cancelar</a>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}

