@model Core.Info.Academico.aca_Profesor_Info
@{
    ViewBag.Title = "Nuevo profesor";
    if (string.IsNullOrEmpty(Core.Web.Helps.SessionFixed.IdUsuario) || string.IsNullOrEmpty(Core.Web.Helps.SessionFixed.IdEmpresa))
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/ValidacionBotonSubmit.js"></script>
@using (Html.BeginForm("Nuevo", "Profesor", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    @Html.HiddenFor(q => q.IdEmpresa, new { @id = "IdEmpresa" })
    @Html.HiddenFor(q => q.IdTransaccionSession, new { @id = "IdTransaccionSession" })
    @Html.HiddenFor(q => q.IdPersona, new { @id = "IdPersona" })
    if (ViewBag.mensaje != null)
    {
        <div class="alert alert-warning alert-dismissible">
            <h4>
                <i class="icon fa fa-warning"></i> @ViewBag.mensaje
            </h4>
        </div>

    }
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="Codigo">Código</label>
                    @Html.TextBoxFor(q => q.Codigo, new { @class = "form-control", @id = "Codigo" })
                    @Html.ValidationMessageFor(q => q.Codigo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="info_persona.pe_Naturaleza">Naturaleza*</label>
                    @Html.DropDownListFor(q => q.info_persona.pe_Naturaleza, new SelectList(ViewBag.lst_tipo_naturaleza, "CodCatalogo", "ca_descripcion"), new { @class = "form-control", @id = "pe_Naturaleza" })
                    @Html.ValidationMessageFor(q => q.info_persona.pe_Naturaleza, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="info_persona.IdTipoDocumento">Tipo documento*</label>
                    @Html.DropDownListFor(q => q.info_persona.IdTipoDocumento, new SelectList(ViewBag.lst_tipo_doc, "CodCatalogo", "ca_descripcion"), new { @class = "form-control", @id = "IdTipoDocumento" })
                    @Html.ValidationMessageFor(q => q.info_persona.IdTipoDocumento, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="info_persona.pe_cedulaRuc">Número documento*</label>
                    @Html.TextBoxFor(q => q.info_persona.pe_cedulaRuc, new { @class = "form-control", @id = "pe_cedulaRuc" })
                    @Html.ValidationMessageFor(q => q.info_persona.pe_cedulaRuc, "", new { @class = "text-danger" })
                    <label id="error_documento" style="color:red"> <i class="icon fa fa-warning"></i> Número de identificación inválida</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="info_persona.pe_apellido">Apellidos</label>
                    @Html.TextBoxFor(q => q.info_persona.pe_apellido, new { @class = "form-control", @id = "pe_apellido" })
                    @Html.ValidationMessageFor(q => q.info_persona.pe_apellido, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="info_persona.pe_nombre">Nombres</label>
                    @Html.TextBoxFor(q => q.info_persona.pe_nombre, new { @class = "form-control", @id = "pe_nombre" })
                    @Html.ValidationMessageFor(q => q.info_persona.pe_nombre, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="info_persona.pe_nombreCompleto">Nombre completo</label>
                    @Html.TextBoxFor(q => q.info_persona.pe_nombreCompleto, new { @class = "form-control", @id = "pe_nombreCompleto" })
                    @Html.ValidationMessageFor(q => q.info_persona.pe_nombreCompleto, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="FormaPago">Dirección</label>
                    @Html.TextBoxFor(q => q.info_persona.pe_direccion, new { @class = "form-control", @id = "pe_direccion" })
                    @Html.ValidationMessageFor(q => q.info_persona.pe_direccion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="pe_sexo">Sexo</label>
                    @Html.DropDownListFor(q => q.info_persona.pe_sexo, new SelectList(ViewBag.lst_sexo, "CodCatalogo", "ca_descripcion"), new { @class = "form-control", @id = "pe_sexo" })
                    @Html.ValidationMessageFor(q => q.info_persona.pe_sexo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="IdEstadoCivil">Estado civil</label>
                    @Html.DropDownListFor(q => q.info_persona.IdEstadoCivil, new SelectList(ViewBag.lst_estado_civil, "CodCatalogo", "ca_descripcion"), new { @class = "form-control", @id = "IdEstadoCivil" })
                    @Html.ValidationMessageFor(q => q.info_persona.IdEstadoCivil, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="">Fecha de nacimiento</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        @Html.DevExpress().DateEditFor(q => q.info_persona.pe_fechaNacimiento, settings =>
                           {
                               settings.Name = "pe_fechaNacimiento";
                               settings.Properties.UseMaskBehavior = true;
                               settings.Properties.EditFormat = EditFormat.Date;
                               settings.Properties.EditFormatString = "dd/MM/yyyy";
                               settings.Properties.TimeSectionProperties.TimeEditProperties.EditFormat = EditFormat.Date;
                               settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                               settings.Properties.AllowMouseWheel = false;
                           }).GetHtml()
                        @Html.ValidationMessageFor(q => q.info_persona.pe_fechaNacimiento, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="FormaPago">Correo</label>
                    @Html.TextBoxFor(q => q.info_persona.pe_correo, new { @class = "form-control", @id = "pe_correo" })
                    @Html.ValidationMessageFor(q => q.info_persona.pe_correo, "", new { @class = "text-danger"})
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="IdTipoCredito">Teléfono</label>
                    @Html.TextBoxFor(q => q.info_persona.pe_telfono_Contacto, new { @class = "form-control", @id = "pe_telfono_Contacto" })
                    @Html.ValidationMessageFor(q => q.info_persona.pe_telfono_Contacto, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="cl_plazo">Celular</label>
                    @Html.TextBoxFor(q => q.info_persona.pe_celular, new { @class = "form-control", @id = "pe_celular" })
                    @Html.ValidationMessageFor(q => q.info_persona.pe_celular, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-default" href="@Url.Action("Index", "Profesor", new { Area = "Academico" }, null)">Cancelar</a>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}
<script>
    $("#pe_cedulaRuc").blur(function () {
        Validar_cedula_ruc();
    });

    $("#pe_apellido").blur(function () {
        actualizar_nombre_completo();
    });
    $("#pe_nombre").blur(function () {
        actualizar_nombre_completo();
    });

    $("#pe_cedulaRuc").blur(function () {
        get_info_x_num_cedula();
    });

    $("#pe_cedulaRuc").blur(function () {
        var tipo_doc = $("#IdTipoDocumento").val();
        var cedula = $("#pe_cedulaRuc").val();

        if (tipo_doc == "RUC") {
            if (cedula.length > 13) {
                var len = $("#pe_cedulaRuc").val();
                len = len.substring(0, 13);
                $("#pe_cedulaRuc").val(len);
            }

        }
        else
            if (tipo_doc == "CED") {
                if (cedula.length > 10) {
                    var len = $("#pe_cedulaRuc").val();
                    len = len.substring(0, 10);
                    $("#pe_cedulaRuc").val(len);
                }
            }
    });

    function actualizar_nombre_completo() {
        var apellido = $("#pe_apellido").val();
        var nombre = $("#pe_nombre").val();

        var nombre_completo = apellido + ' ' + nombre;
        $("#pe_nombreCompleto").val(nombre_completo)
    }

    function get_info_x_num_cedula() {
        var cedula = $("#pe_cedulaRuc").val();
        var tipo_doc = $("#IdTipoDocumento").val();

        if (cedula == null) {
            vaciar_campos_persona();
            return;
        }

        if (tipo_doc == "RUC") {
            if (cedula.length != 13) {
                alert("El documento de tipo RUC, debe tener una longitud de 13 caracteres");
                $("#pe_cedulaRuc").val("");
                vaciar_campos_persona();
                return;
            }
        } else
            if (tipo_doc == "CED") {
                if (cedula.length != 10) {
                    alert("El documento de tipo cédula, debe tener una longitud de 10 caracteres");
                    $("#pe_cedulaRuc").val("");
                    vaciar_campos_persona();
                    return;
                }
            }

        var datos = {
            IdEmpresa: $("#IdEmpresa").val(),
            pe_cedulaRuc: cedula
        }
        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("get_info_x_num_cedula", "Profesor",new { Area = "Academico"})',
            async: false,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data == "") {
                    return;
                }

                if (data.IdCliente != 0) {
                    alert("El cliente ya existe con el ID: " + data.IdProfesor);
                    window.location.href = '@Url.Action("Index", "Profesor", new { Area = "Academico" })'
                }
                else
                {
                    if (data.IdPersona != 0 && data.IdProfesor == 0) {
                        $("#pe_nombre").val(data.info_persona.pe_nombre);
                        $("#pe_apellido").val(data.info_persona.pe_apellido);
                        $("#pe_nombreCompleto").val(data.info_persona.pe_nombreCompleto);
                        $("#pe_razonSocial").val(data.info_persona.pe_razonSocial);
                        $("#pe_sexo").val(data.info_persona.pe_sexo);
                        $("#IdEstadoCivil").val(data.info_persona.IdEstadoCivil);
                        $("#pe_fechaNacimiento").val(data.info_persona.pe_fechaNacimiento);
                        $("#pe_correo").val(data.info_persona.pe_correo);
                        $("#pe_celular").val(data.info_persona.pe_celular);
                        $("#pe_telfono_Contacto").val(data.info_persona.pe_telfono_Contacto);
                        $("#pe_direccion").val(data.info_persona.pe_direccion);

                        $("#IdPersona").val(data.IdPersona);
                    }
                    else {
                        vaciar_campos_persona();
                    }
                }
            },
            error: function (error) {
                alert(error);
            }
        });
    }

    function vaciar_campos_persona() {
        $("#pe_nombre").val("");
        $("#pe_apellido").val("");
        $("#pe_nombreCompleto").val("");
        $("#pe_razonSocial").val("");
        $("#IdPersona").val("0");
        $("#pe_correo").val("");
        $("#pe_sexo").val("");
        $("#IdEstadoCivil").val("");
        $("#pe_fechaNacimiento").val("");
        $("#pe_celular").val("");
        $("#pe_telfono_Contacto").val("");
        $("#pe_direccion").val("");
    }

    

    function Validar_cedula_ruc() {
        var datos = {
            naturaleza: $("#pe_Naturaleza").val(),
            tipo_documento: $("#IdTipoDocumento").val(),
            cedula_ruc: $("#pe_cedulaRuc").val(),
        }

        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("Validar_cedula_ruc", "Profesor", new { Area = "Academico" })',
            async: false,
            bDeferRender: true,
            bProcessing: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data.isValid == true) {
                    $("#error_documento").hide();
                    $("#pe_Naturaleza").val(data.return_naturaleza);
                }
                else {
                    $("#error_documento").show();
                }
            },
            error: function (error) {
            }
        });
    };

</script>