@model Core.Info.Academico.aca_AnioLectivo_Periodo_Info
@{
    ViewBag.Title = ("Procesar factura masiva");
    if (string.IsNullOrEmpty(Core.Web.Helps.SessionFixed.IdUsuario) || string.IsNullOrEmpty(Core.Web.Helps.SessionFixed.IdEmpresa))
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>
<script src="~/Scripts/ScriptsGenerales.js"></script>

@using (Html.BeginForm("Consultar", "FacturacionMasiva", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    @Html.HiddenFor(q => q.IdEmpresa, new { @id = "IdEmpresa" })
    @Html.HiddenFor(q => q.IdTransaccionSession, new { @id = "IdTransaccionSession" })
    @Html.HiddenFor(q => q.IdSucursal, new { @id = "IdSucursal" })
    @Html.HiddenFor(q => q.IdPeriodo, new { @id = "IdPeriodo" })
    @Html.HiddenFor(q => q.IdAnio, new { @id = "IdAnio" })
    @Html.HiddenFor(q => q.IdMes, new { @id = "IdMes" })

    if (ViewBag.mensaje != null)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="alert alert-warning alert-dismissible">
                        <h4>
                            <i class="icon fa fa-warning"></i> @ViewBag.mensaje
                        </h4>
                    </div>
                </div>
            </div>
        </div>

    }
    if (ViewBag.MensajeSuccess != null)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success alert-dismissible">
                    <h4>
                        <i class="icon fa fa-check"></i> @ViewBag.MensajeSuccess
                    </h4>
                </div>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="IdEmpresa">Año Lectivo</label>
                    @Html.Partial("_ComboBoxPartial_Anio", Model)
                    @Html.ValidationMessageFor(q => q.IdAnio, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label for="IdEmpresa">Sede</label>
                    @Html.Partial("_CmbSede", Model)
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="IdEmpresa">Jornada</label>
                    @Html.Partial("_CmbJornada", Model)
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="IdEmpresa">Nivel Académico</label>
                    @Html.Partial("_CmbNivel", Model)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="IdEmpresa">Curso</label>
                    @Html.Partial("_CmbCurso", Model)
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="IdEmpresa">Paralelo</label>
                    @Html.Partial("_ComboBoxPartial_Paralelo", Model)
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="IdPuntoVta">Punto de venta*</label>
                    @Html.DropDownListFor(q => q.IdPuntoVta, new SelectList(ViewBag.lst_ptoventa, "IdPuntoVta", "nom_PuntoVta"), new { @class = "form-control", @id = "IdPuntoVta" })
                    @Html.ValidationMessageFor(q => q.IdPuntoVta, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <label for="IdPuntoVta">   </label>
                    <button type="button" class="btn btn-primary form-control" id="btn_enviarCorreo" onclick="Buscar();">Buscar</button>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="IdPuntoVta">   </label>
                    <button type="button" class="btn btn-primary form-control" id="btn_enviarCorreo" onclick="EnviarCorreoAutorizados();">Enviar avisos de pago</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.Action("GridViewPartial_FacturacionMasivaDet")
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box-footer">
        @if (ViewBag.MostrarBoton == true)
        {
            <button type="submit" class="btn btn-primary">Procesar</button>
        }
        <a class="btn btn-default" href="@Url.Action("Index","FacturacionMasiva",new { Area = "Facturacion" },null)">Cancelar</a>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}
<script>
    function EnviarCorreoAutorizados() {
        var datos = {
            IdEmpresa: $("#IdEmpresa").val(),
            IdTransaccionSession: $("#IdTransaccionSession").val()
        }
        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("EnviarCorreoAutorizados", "FacturacionMasiva", new { Area = "Facturacion" })',
            async: false,
            bDeferRender: true,
            bProcessing: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                alert("Se han enviado los avisos de pago a la cola de correos");
            },
            error: function (error) {
            }
        });
    }

    function Buscar() {
        var datos = {
            IdEmpresa: $("#IdEmpresa").val(),
            IdAnio: IdAnio.GetValue(),
            IdPeriodo: $("#IdPeriodo").val(),
            IdSede: IdSede.GetValue(),
            IdJornada: IdJornada.GetValue(),
            IdNivel: IdNivel.GetValue(),
            IdCurso: IdCurso.GetValue(),
            IdParalelo: IdParalelo.GetValue(),
            IdTransaccionSession: $("#IdTransaccionSession").val()
        }
        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("Buscar", "FacturacionMasiva", new { Area = "Facturacion" })',
            async: false,
            bDeferRender: true,
            bProcessing: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                GridViewPartial_FacturacionMasivaDet.PerformCallback();
            },
            error: function (error) {
            }
        });
    }

</script>
