@model Core.Info.Academico.aca_AnioLectivo_Curso_Paralelo_Info
@{
    ViewBag.Title = "Asignación de tutor e inspector por paralelo";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Modificar", "AsignacionTutorInspector", FormMethod.Post, new { @role = "form", @class = "form", @id = "myform" }))
{
    @Html.HiddenFor(q => q.IdEmpresa, new { @id = "IdEmpresa" })
    @Html.HiddenFor(q => q.IdTransaccionSession, new { @id = "IdTransaccionSession" })
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="IdEmpresa">Año Lectivo</label>
                    @Html.Partial("_ComboBoxPartial_Anio", Model)
                    @Html.ValidationMessageFor(q => q.IdAnio, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="IdEmpresa">Sede</label>
                    @Html.Partial("_ComboBoxPartial_Sede", Model)
                    @Html.ValidationMessageFor(q => q.IdSede, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label for="IdEmpresa">Nivel Académico</label>
                    @Html.Partial("_ComboBoxPartial_Nivel", Model)
                    @Html.ValidationMessageFor(q => q.IdNivel, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="IdEmpresa">Jornada</label>
                    @Html.Partial("_ComboBoxPartial_Jornada", Model)
                    @Html.ValidationMessageFor(q => q.IdJornada, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="IdEmpresa">Curso</label>
                    @Html.Partial("_ComboBoxPartial_Curso", Model)
                    @Html.ValidationMessageFor(q => q.IdCurso, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    @Html.Action("_GridViewPartial_AnioLectivoCurso")
    <div class="box-footer">
        <a class="btn btn-default" href="@Url.Action("Index", "AsignacionTutorInspector", new { Area ="Academico" }, null)">Cancelar</a>
    </div>
}