@model Core.Info.CuentasPorCobrar.cxc_CobroMasivo_Info
@{
    ViewBag.Title = "Nueva cobranza masiva";
    if (string.IsNullOrEmpty(Core.Web.Helps.SessionFixed.IdUsuario) || string.IsNullOrEmpty(Core.Web.Helps.SessionFixed.IdEmpresa))
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>
<script>
    $(function () {
        MostrarDatosTarjeta();
        SetCobroTipo();

        $("#IdCobro_tipo").change(function () {
            SetCobroTipo();
            MostrarDatosTarjeta();
        });
    })

    function MostrarDatosTarjeta() {
        var TipoCobro = $("#IdCobro_tipo").val();
        if (TipoCobro == "TARJ") {
            $("#div_tarjeta").show();
            $("#DatoIdTarjeta").show();
            $("#DatoTarjeta").show();
        }
        else {
            $("#div_tarjeta").hide();
            $("#DatoIdTarjeta").hide();
            $("#DatoTarjeta").hide();
        }
    }

    function SetCobroTipo() {

        var tipo_cobro = $("#IdCobro_tipo").val();

        $("#div_bancos").hide();
        $("#div_cheque").hide();
        if (tipo_cobro == "CHQF" || tipo_cobro == "CHQV") {
            $("#div_cheque").show();
        } else
            if (tipo_cobro == "DEPO") {
                $("#div_bancos").show();
            }
    }

    function OnFileUploadStart(s, e) {
        var datos = {
            IdEmpresa: $("#IdEmpresa").val(),
            IdTransaccionSession: $("#IdTransaccionSession").val()
        }
        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("ActualizarVariablesSession", "CobranzaMasiva", new { Area = "CuentasPorCobrar"})',
            async: false,
            bDeferRender: true,
            bProcessing: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
            },
            error: function (error) {
            }
        });
    }

    function OnFileUploadComplete(s, e) {
        GridViewPartial_CobranzaMasivaDet.PerformCallback();
    }
</script>

@using (Html.BeginForm("Nuevo", "CobranzaMasiva", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    @Html.HiddenFor(q => q.IdEmpresa)
    @Html.HiddenFor(q => q.IdSucursal)
    @Html.HiddenFor(q => q.IdTransaccionSession, new { @id = "IdTransaccionSession" })
    if (ViewBag.mensaje != null)
    {
        <div class="alert alert-warning alert-dismissible">
            <h4>
                <i class="icon fa fa-warning"></i> @ViewBag.mensaje
            </h4>
        </div>
    }

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="pf_fecha">Fecha*</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        @Html.DevExpress().DateEditFor(q => q.Fecha, settings =>
                            {
                                settings.Name = "Fecha";
                                settings.Properties.UseMaskBehavior = true;
                                settings.Properties.EditFormat = EditFormat.Date;
                                settings.Properties.EditFormatString = "dd/MM/yyyy";
                                settings.Properties.TimeSectionProperties.TimeEditProperties.EditFormat = EditFormat.Date;
                                settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                            }).GetHtml()
                        @Html.ValidationMessageFor(q => q.Fecha, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="IdCobro_tipo">Tipo cobro*</label>
                    @Html.DropDownListFor(q => q.IdCobro_tipo, new SelectList(ViewBag.lst_cobro_tipo, "IdCobro_tipo", "tc_descripcion"), new { @class = "form-control", @id = "IdCobro_tipo" })
                    @Html.ValidationMessageFor(q => q.IdCobro_tipo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="div_tarjeta" hidden>
        <div class="col-md-12">
            <div class="col-md-6" id="DatoIdTarjeta" hidden>
                <div class="form-group">
                    <label for="cr_TotalCobro">Tarjeta de Crédito</label>
                    @Html.DropDownListFor(q => q.IdTarjeta, new SelectList(ViewBag.lst_tarjeta, "IdTarjeta", "NombreTarjeta"), new { @class = "form-control", @id = "IdTarjeta" })
                    @Html.ValidationMessageFor(q => q.IdTarjeta, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6" id="DatoTarjeta" hidden>
                <div class="form-group">
                    <label for="cr_saldo">Numero</label>
                    @Html.TextBoxFor(q => q.cr_Tarjeta, new { @id = "cr_Tarjeta", @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.cr_Tarjeta, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="div_cheque" hidden>
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="cr_Banco">Banco*</label>
                    @Html.DropDownListFor(q => q.cr_Banco, new SelectList(ViewBag.lst_banco, "ba_descripcion", "ba_descripcion"), new { @class = "form-control", @id = "cr_Banco" })
                    @Html.ValidationMessageFor(q => q.cr_Banco, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="cr_cuenta">Cuenta*</label>
                    @Html.TextBoxFor(q => q.cr_cuenta, new { @id = "cr_cuenta", @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.cr_cuenta, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="cr_NumDocumento"># Cheque*</label>
                    @Html.TextBoxFor(q => q.cr_NumDocumento, new { @id = "cr_NumDocumento", @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.cr_NumDocumento, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="div_bancos" hidden>
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="IdBanco">Cuenta bancaria*</label>
                    @Html.DropDownListFor(q => q.IdBanco, new SelectList(ViewBag.lst_banco_cuenta, "IdBanco", "ba_descripcion"), new { @class = "form-control", @id = "IdBanco" })
                    @Html.ValidationMessageFor(q => q.IdBanco, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="sc_observacion">Observación</label>
                    @Html.TextBoxFor(q => q.Observacion, new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.Observacion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
        <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                @Html.DevExpress().UploadControl(settings =>
           {
               settings.Name = "UploadControlFile";
               settings.CallbackRouteValues = new { Controller = "CobranzaMasiva", Action = "UploadControlUpload" };
               settings.ShowUploadButton = true;
               settings.ShowProgressPanel = true;
               settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
               settings.NullText = "Selecciona el archivo...";
               settings.ClientSideEvents.FilesUploadStart = "OnFileUploadStart";
               settings.ClientSideEvents.FileUploadComplete = "OnFileUploadComplete";
           }).GetHtml()
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                @Html.Action("GridViewPartial_cobranzaMasivaDet")
            </div>
        </div>
    </div>

    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-default" href="@Url.Action("Index","CobranzaMasiva",new { Area = "CuentasPorCobrar" },null)">Cancelar</a>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}

